<template>
    <div class="mt-2 mb-5">
        <div class="products">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> 
                        <category></category>
                        <!-- <span class="font-weight-bold text-uppercase">Luxury Couch</span> -->
                        <div>
                            <img src="https://img.icons8.com/windows/100/000000/list.png" width="30" /> 
                            <img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25" />
                        </div>
                    </div>
                    <div v-if="allProducts" class="row g-3">
                        <div 
                            v-for="product in allProducts"
                            :key="product.id" 
                            class="col-md-3">
                            <Product :product="product" />
                        </div>
                    </div>
                    <div v-else>
                        <content-loader></content-loader>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</template>

<script>
import Product from './components/Product';
import Category from  './components/Category';
import { ContentLoader } from 'vue-content-loader';
import { mapActions, mapGetters } from "vuex";


export default {
    name: "Products",
    components: {
        Product,
        ContentLoader,
        Category
    },
   
    data() {
        return {
            products: null
        };
    },
        computed: {
        ...mapGetters(["allProducts"])
    },
        methods: {
        ...mapActions(["fetchProductsFromApi"])
    },
        created() {
        this.fetchProductsFromApi();
    }
};
</script>

<style lang="scss">

</style>