/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

body {
  background-color: #fff;

  .container {
    max-width: 900px;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #000;
}

.nav-tabs > li > a {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 3px solid #000;
}

.navbar {
  border-bottom: 1px solid #00000012;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  background-color: #ffffff !important;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
}

.nav-tabs {
  border-bottom: none;
}

.card {
  border: none;

  .card-body {
    flex: 1 1 auto;
    padding: 10px;
    .product-title {
      a {
        color: #c2912e;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .card-text {
    font-size: 13px;
  }
}

.category {
  color: #585858;
  font-weight: 500;
  font-size: 11px;
}

hr {
  margin: 0.2rem 0;
  color: #585858;
}

.buttons {
  button {
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 2px;
    padding: 4px 3px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .btn-view {
    background-color: #585858;
  }
}
