<template>
    <ul class="navbar-cat">
        <li class="cat-item"><a class="nav-link" href="#">Electronics</a> </li>
        <li class="cat-item"><a class="nav-link" href="#">Jewelery</a> </li>
        <li class="cat-item "><a class="nav-link" href="#">Men clothing</a> </li>
        <li class="cat-item "><a class="nav-link" href="#">Women clothing</a> </li>
    </ul>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">

.navbar-cat {
    list-style: none;
    padding: 5px;
    .cat-item {
        display: inline;
        float: left;
        a{
            color: darkgray;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            color: darksalmon;
        }
    }
}
</style>