<template>
    <div class="card">
        <!-- <router-link :to="{ name: 'product', params: { id: product.id } }"> -->
            <img :src="product.image" :alt="product.title" class="card-img-top">
        <!-- </router-link> -->
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <span class="font-weight-bold product-title">
                    <router-link
                        :to="{ name: 'product', params: { id: product.id } }"
                    >
                    {{ product.title }}
                    </router-link>
                </span> 
                <span class="font-weight-bold">${{ product.price }}</span>
            </div>
            <div class="d-flex align-items-center flex-row">
                <span class="category">{{ product.category }}</span>
            </div>
            <p class="card-text mb-1 mt-1">{{ product.description.substring(0, 50) }}...</p>
        </div>
        <hr>
        <div class="card-body">
            <div class="text-right buttons">
                <b-button v-b-modal="'product-modal'" class="btn btn-view">View Product</b-button>
                <b-modal id="product-modal" hide-footer>
                    <single-product-modal :id="product.id"></single-product-modal>
                </b-modal>
            </div>
        </div>
    </div>
</template>

<script>
import SingleProductModal from './SingleProductModal'

export default {
    name: "Product",
    components: {SingleProductModal,},
    props: ["product"],
    methods: {
        goToProduct(id) {
        this.$router.push({ name: "product", params: { id } });
        }
    }
};
</script>

<style lang="scss">

</style>