<template>
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
            <div class="container-fluid d-flex"> 
                <router-link class="navbar-brand" to="/">Luxemall</router-link>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation"> 
                        <router-link class="nav-link" to="/">Home</router-link>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="column is-half">
                <div class="has-text-right cart-view">
                    <router-link to="/cart">View Cart ({{ getCartItemsCount }} items)</router-link>
                    </div>
                </div>
            </div>
        </nav>
    </div> 
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Navigation",
  computed: {
    ...mapGetters(["getCartItemsCount", "getCartItems"])
  }
};
</script>

<style lang="scss">

</style>