<template>
  <div class="app">
    <vue-topprogress ref="topProgress"></vue-topprogress>
    <!-- Navigation -->
    <navigation></navigation>

    <!-- Page Content / Router--> 
    <router-view />
    
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Luxemall 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
</template>

<script>
import { vueTopprogress } from "vue-top-progress";
import Navigation from './components/Navigation.vue';

export default {
  name: 'App',
  components: {
    Navigation,
    vueTopprogress
  },
  mounted() {
    this.$refs.topProgress.start();
    // Use setTimeout for demo
    setTimeout(() => {
      this.$refs.topProgress.done();
    }, 2000);
  },
}
</script>

<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; */
}
</style>
